/*  estilos generales */
html, body{
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 14px!important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

p, span, li{
  font-family: 'Open-sans', sans-serif;
  font-weight: normal;
  color: #999;
}

a:hover{
  color: #f3a395;
}

input[type='text'], input[type='tel'], input[type='date'], input[type='email'], input[type='password'], input[type='number'], textarea, form.wpcf7-form input[type='text'], form.wpcf7-form textarea, form.wpcf7-form input[type='email'], form.wpcf7-form input[type='password'], form.wpcf7-form input[type='number'], form.wpcf7-form input[type='tel'] {
    padding: 8px;
    border: 1px solid;
    border-color: #ddd #eee #eee #ddd!important;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
}

.linea-bottom{
  max-width: 1100px;
  width: 100%;
  height: 1px;
  margin: 50px auto;
  border-bottom: 1px dashed #e9e7e2;

}

h4.precio{
  text-align: center;
  color: #000000;
  font-size: 1.0rem;
  margin-top:10px;
  margin-bottom: 20px;
}

a.btn-pink{
  text-align: center;
  display: inline-block!important;
  margin: auto;
  color: #999;
  font-size: .7rem!important;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 1px dashed #f3a395;
  border-radius: 30px;
}

a.btn-pink:hover{
  border: 1px dashed #333333;
  color: #333333!important;
  text-decoration: none!important;
}

/*********************************************************
ESTILOS FRONT PAGE
**********************************************************/

/*  estilos menu princpal */

.bg-light {
    background-color: #ffffff!important;
}

.logo{
  text-align: center;
}

.logo .contenedor-logo a{
  margin: 0;
}

.logo .contenedor-logo a img{
  width: 100px;
}

.logo .contenedor-logo{
  width: 100%;
  clear: both;
  display: block;
}


#menu-principal .w-100{
  margin: auto;
}

#menu-principal .header_menu{
  width: 100%;
}

#menu-principal .header_menu ul{
  display: inline-block;
  text-align: center;
}

#menu-principal .header_menu ul li {
  display: block;
  float: left;
  margin: 0 auto;
  width: 100%;
}

#menu-principal .header_menu ul li a{
  color: #887f6e;
  height: 60px;
  font-weight: 600;
  line-height: 60px;
  padding: 0 20px;
  display: inline-block;
}

#menu-principal .header_menu ul li a:hover{
  border-bottom: 2px solid #f3a395;
  color: #665f50;
  text-decoration: none;
}

#menu-principal .header_menu ul .current_page_item a{
  border-bottom: 2px solid #f3a395;
  color: #665f50;
  text-decoration: none;
}

@media only screen and (min-width:768px){
  #menu-principal .header_menu ul{
    display: flex;
    justify-content: center;
    list-style: none;
  }

  #menu-principal .header_menu ul li {
    display:  block;
    float: left;
    margin: 0 10px;
    width: inherit;
  }
}


/*  estilos banner principal */

#banner-principal{
  display: none;
}

@media only screen and (min-width:768px){

#banner-principal{
  width: 100%;
  height: 600px;
  position: relative;
  display: block;
}

#banner-principal:before{
  content: '';
  background: url(../images/banner-before.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 98px;
  width: 100%;
  z-index: 10;
}

#banner-principal:after{
  content: '';
  background: url(../images/banner-after.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 98px;
  width: 100%;
  z-index: 10;
}

.carousel-item{
  max-height: 600px;
  height: 100%;
}

.carousel-caption{
margin-bottom: 15%;
}

.carousel-caption h3{
  font-size: 36px;
}

.carousel-caption p{
  font-size: 18px;
  color: #fff;
}

.carousel-indicators{
  bottom: 50px;
}

}

/* estilos banner secciones */

#banner-secciones{
  position: relative;
  height: 400px;
  background:url(../images/banner-secciones.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  margin-bottom: 100px;
  background-size: cover;
}

#banner-secciones h1{
  color: #ffffff;
  margin-top: -50px;
}

#banner-secciones .breadcrumbs a span, #banner-secciones .breadcrumbs span, #banner-secciones .breadcrumbs{
  color: #ffffff!important;
}

#banner-secciones:before{
  content: '';
  background: url(../images/banner-before.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 10;
}

#banner-secciones:after{
  content: '';
  background: url(../images/banner-after.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 10;
}

#banner-secciones .row{
  height: 450px;
  text-align: center;
}


/*  estilos espacios publicitarios front page */

#publicidad-top{
  margin-top: 50px;
}

.publicidad-left{
  background: url(../images/publicidad-left.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
}

.publicidad-left-container{
  width: 50%;
  height: 200px;
  margin-left: 50%;
  padding-right: 20px;
  text-align: right;
}

.publicidad-left-container h3{
  padding-top: 30px;
  font-size: 1.2rem;
}

.publicidad-left-container p{
  line-height: normal;
}


.publicidad-right{
  background: url(../images/publicidad-right.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 200px;
}

.publicidad-right-container{
  width: 50%;
  height: 200px;
  margin-right: : 50%;
  padding-left: 20px
}

.publicidad-right-container h3{
  padding-top: 30px;
  font-size: 1.2rem
}

.publicidad-right-container p{
  line-height: normal;
}

@media only screen and (min-width:768px){

  .publicidad-left-container h3{
    padding-top: 50px;
    font-size: 1.75rem;
  }

  .publicidad-right-container h3{
    padding-top: 50px;
    font-size: 1.75rem
  }
}


/*  estilos productos destacados */

#productos-destacados{
  margin:50px 0;
}

#productos-destacados h2{
  font-size: 1.75rem;
  margin-bottom: 30px;
}

.producto-destacado-item{
  text-align: center;
  margin-bottom: 30px;
}

.producto-destacado-item a{
  text-align: center;
  display: block;
  color: #999999;
  text-decoration: none;
  font-size: 1.25rem;
}

.producto-destacado-item a:hover{
  text-align: center;
  display: block;
  color: #f3a395;
  text-decoration:underline;
}

.producto-destacado-item h4.precio{
  font-size: 18px;
}

.producto-destacado-item figure{
  overflow: hidden;
}

.producto-destacado-item figure img{
  width: 100%;
  transition: all 0.1s ease-in;
}

.producto-destacado-item figure img:hover{
  transform: scale(1.1);
}

@media only screen and (min-width:768px){
  #productos-destacados h2{
    margin-bottom: 50px;
    font-size: 2.5rem;
  }

  .producto-destacado-item a{
    font-size: 1rem;
  }
}



/* estilos parallax home */

#parallax{
  position: relative;
  height: 450px;
  background:#f3a395 url(../images/fondo-parallax.png);
  background-repeat: repeat;
  background-attachment: fixed;
  margin-bottom: 100px;
}

#parallax:before{
  content: '';
  background: url(../images/banner-before.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 10;
}

#parallax:after{
  content: '';
  background: url(../images/banner-after.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 10;
}

#parallax .row{
  height: 450px;
  text-align: center;
}

.parallax-home h3{
  font-size: 3.5rem;
  font-weight: bolder;
  color: #ffffff;
}

.parallax-home p{
  color: #ffffff;
  margin: 20px auto;
}

.parallax-home a.btn-white{
  text-align: center;
  display: inline-block;
  margin: auto;
  color: #fff;
  font-size: 1rem!important;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 2px dashed #ffffff;
  border-radius: 30px;
}

.parallax-home a.btn-white:hover{
  border-color: #333333;
  color: #333333;
}

/*  ESTILOS CATEGORIAS DESTACADAS */

#categorias-destacadas h2{
  font-size: 1.75rem;
  margin-bottom: 30px;
}

.categorias-destacadas-item{
  margin-bottom: 30px;
}

.categorias-destacadas-item figure{
  border: 1px solid #f1f1f1;
  padding: 8px;
  border-radius: 2px;
  position: relative;
  height: 250px;
  overflow: hidden;

}

.categorias-destacadas-item figure img{
  transition: all 0.1s ease-in;
}
.categorias-destacadas-item figure:hover{
  box-shadow: 1px 1px 10px #888888;
}

.categorias-destacadas-item figure:hover img{
  transform: scale(1.1);

}

.categorias-destacadas-item a{
  position: absolute;
  bottom: 30px;
  display: block;
  background: rgba(255,255,255,0.7);
  height: 40px;
  width: calc(100% - 16px);
  z-index: 10;
  text-align: center;
  line-height: 40px;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
}

.categorias-destacadas-item a:hover{
  text-decoration: none;
}

.categorias-destacadas-item figure img{
  width: 100%;
  height: auto;
}

@media only screen and (min-width:768px){
  #categorias-destacadas h2{
    font-size: 2rem;
    margin-bottom: 50px;
  }
}




/*  estilos productos especiales - edicion limitada  */

#productos-especiales{
  margin: 100px auto;
  background:#f5f4f1 url(../images/fondo-parallax.png);
  background-repeat: repeat;
  background-attachment: fixed;
  height: auto;
  padding-top: 150px;
  padding-bottom: 150px;
  position: relative;
}

#productos-especiales:before{
  content: '';
  background: url(../images/banner-before.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 10;
}

#productos-especiales:after{
  content: '';
  background: url(../images/banner-after.png);
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 10;
}

#productos-especiales h2{
  font-size: 1.75rem;
  margin-bottom: 30px;
}

#productos-especiales h2 span{
  font-size: 1rem;
  color: #999999;
}

.productos-especiales-item{
  background: #ffffff;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 20px;
}

.productos-especiales-item figure{
  width: 100%;
  height: 248px;
  overflow: hidden;
}

.productos-especiales-item figure img{
  width: 100%;
  height: auto;
}

.productos-especiales-item a{
  text-align: center;
  display: block;
  color: #999999;
  font-size: 1.25rem;
}

.productos-especiales-item h4.precio{
  font-size: 18px;
}

.productos-especiales-item a:hover{
  text-align: center;
  display: block;
  color: #f3a395;
  text-decoration:underline;
}

.productos-especiales-item figure{
  overflow: hidden;
}

.productos-especiales-item figure img{
  width: 100%;
  transition: all 0.1s ease-in;
}

.productos-especiales-item figure img:hover{
  transform: scale(1.1);
}

@media only screen and (min-width:768px){
  #productos-especiales h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
  }

  #productos-especiales h2 span{
    font-size: 1.5rem;
    color: #999999;
  }

  .productos-especiales-item a{
    font-size: 1rem;
  }
}


/*  estilos bottom - envio, cupon y garantia */

#envio-cupon-garantia .bottom >h3{
  display: none;
}

.bottom i{
    background: #f3a395;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 20px;
}

.bottom .envio{
  background: #f5f4f1;
  padding: 30px;
  text-align: center;
}



.bottom .cupon{
  background: #f0eeea;
  padding: 30px;
  text-align: center;
}

.bottom .garantia{
  background: #f5f4f1;
  padding:30px;
  text-align: center;
}


/* estilos ultimas entradas blog */

#ultimas-entradas-home{
  margin: 50px auto;
}

#ultimas-entradas-home h2{
  font-size: 1.75rem;
  margin-bottom: 30px;
}

.entradas figure{
  width: 100%;
  height: 260px;
  overflow: hidden;
  position: relative;
}

.fecha-post{
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 20px;
  background: #f3a395;
  border-radius: 30px;
  color: #fff;
  padding: 5px 10px;
}

.fecha-post p{
  display: inline-block;
  margin: 0;
  padding: 0;
}

.fecha-post span{
  display: inline-block;
  margin: 0 1px 0 5px;
}

.entradas{
  text-align: center;
}

.entradas figure img{
  width: 100%;
  height: auto;
}

.entradas figure figcaption .fecha-post p, .entradas figure figcaption .fecha-post span{
  color: #fff;
}

.entradas a.titulo-link{
  text-align: center;
  color: #222;
  font-size:1.5rem!important;
  line-height: normal;
  display: block;
  margin-bottom: 20px
}

.entradas p{
  text-align: center;
}

.entradas a.btn-pink{
  margin-bottom: 30px;
}



@media only screen and (min-width:768px){
  #ultimas-entradas-home h2{
    font-size: 2.5rem;
    margin-bottom: 50px;
  }
}


/* estilos footer - pie de pagina */

footer{
  background: #f0eeea;
  padding-top: 150px;
  position: relative;
}

footer:before{
  content: '';
  background: url(../images/banner-before.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98px;
  z-index: 10;
}

footer  h3{
  color: #333;
  font-size: 1.5rem;
  border-left: 6px solid #f3a395;
  padding-left: 10px;
  margin-bottom: 30px;
}

footer ul{
  text-indent: 0;
}

footer ul li{
  list-style: none;
  border-bottom: 1px solid #e7e5e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #999;
  line-height: normal;
}

footer ul li a{
  display: block;
  color: #999;
  line-height: normal;
}

footer ul li i{
  margin-right: 8px;
  color: #999;
}

footer .copy{
  height: 50px;
  background: #f5f4f1;
  line-height: 50px;
  color: #999;
}

footer .copy p{
  margin: 0;
  text-align: center;
}

footer .copy p.by{
  text-align: center;
  font-size: 12px;
}

@media only screen and (min-width:768px){
  footer .copy p{
    text-align: left;
  }

  footer .copy p.by {
    text-align: right;
  }
}



/*********************************************************
ESTILOS BLOG
**********************************************************/

/*  estilos menu categorias */

.categorias-blog{
  margin-bottom: 50px;
}

.categorias-blog h3, .sidebar-blog h3{
  color: #333;
  font-size: 1.75rem;
  border-left: 6px solid #f3a395;
  padding-left: 10px;
  margin-bottom: 30px;
}

.categorias-blog  a{
  display: block;
  border-bottom: 1px solid #e7e5e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #999;
}



/*  estilos comentarios recientes  */

.sidebar-right{
  margin-bottom: 50px;
}

.sidebar-right ul  li{
  list-style: none;
  border-bottom: 1px solid #e7e5e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #999;
}

.sidebar-right ul  li a{
  color: #333333!important:
}

#recentcomments li{
  list-style: none;
  border-bottom: 1px solid #e7e5e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color:#999999;
}

#recentcomments li a{
  color: #333333;
}

#recentcomments li span.comment-author-link:hover{
  color:#f3a395;
}

#recentcomments li a:hover{
  color: #f3a395;
}



#detalle .detalle-post figure{
  max-height: 435px;
  overflow: hidden;
}

#detalle .detalle-post figure img{
  width: 100%;
  height: auto;
}

#detalle .detalle-post .fecha-post p, #detalle .detalle-post .fecha-post span{
  color: #fff;
}

.paginacion{
  margin-top: 50px;
  margin-bottom: 50px;
}

@media only screen and (min-width:768px){
  .detalle-post{
    padding-right: 20px;
  }
}

/* estilos comentarios en el post */

#respond{
  margin-top: 100px;
}

#commentform p label{
  width: 100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
  font-size: 13px;
}

#commentform p textarea{
  width: 100%
}

#commentform p input{
  width: 60%;
}

#commentform .form-submit{
  margin-top: 30px;
}

#commentform p #submit{
  margin-top: 20px;
  width: 200px;
  background-color: #ffffff;
  text-align: center;
  display: inline-block!important;
  margin: auto;
  color: #999;
  font-size: .7rem!important;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 1px dashed #f3a395;
  border-radius: 30px;
  margin-bottom: 50px;
}

#commentform p #submit:hover{
  color: #333;
  border-color: #333;
}

/*  estilos nosotros  */

#que-hacemos{
  margin-bottom: 50px;
}

#nosotros .nosotros-imagen, #que-hacemos .que-hacemos-imagen{
  margin-bottom: 30px;
}

#nosotros .nosotros-imagen img, #que-hacemos .que-hacemos-imagen img{
  width: 100%!important;
  height: auto;
}

#nosotros .nosotros-texto h2, #que-hacemos .que-hacemos-texto h2{
  color: #2b3033;
  font-size: 44px;
  font-weight: 800;
  font-style: normal;
  text-align: center;
  margin-bottom: 35px;
}

#nosotros .nosotros-texto h3, #que-hacemos .que-hacemos-texto h3{
  color: #2b3033;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  letter-spacing: 1px;
    line-height: 1.625em;
}

#nosotros .nosotros-texto p, #que-hacemos .que-hacemos-texto p{
  text-align: center;
  margin: .85em 0;
  line-height: 1.625em;
}


@media only screen and (min-width:768px){

  #nosotros .nosotros-imagen, #que-hacemos .que-hacemos-imagen{
    margin-bottom: 0;
  }

  #nosotros .nosotros-texto, #que-hacemos .que-hacemos-texto{
    height: 408px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
  }


}



#caracteristicas{
  height: auto;
  margin: 100px 0;
  background: url(../images/fondo-caracteristicas.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#caracteristicas .row{
  padding: 50px 0;
}

.caracteristicas-item {
    box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.1);
    background-color: #fff;
    padding: 49px;
    text-align: center;
    margin: 10px;
}

.caracteristicas-item i{
  font-size: 3rem;
  color: #e9e7e2;
  font-weight: normal;
}

.caracteristicas-item h3{
  font-size: 21px;
  font-weight: normal;
}

.caracteristicas-item p{
  margin: .85em 0;
  line-height: 1.625em;
  color: #999;
}

@media only screen and (min-width:768px){
  #caracteristicas{
    height: 450px;
  }

  #caracteristicas .row{
    height: 450px;
  }
}


/*  estilos contacto  */

#formulario-contacto{
  border: 1px solid #d9d7d0;
  padding: 30px;
  background: #f5f5f5;
}

#datos-contacto .datos{
  margin-top: 50px;
}

#datos-contacto .datos i{
  margin-right: 5px;
  text-align: center;
}

#map{
  width: 100%;
  height: 350px;
  margin-top: 50px;
  margin-bottom: 50px;
}





/* estilos tienda online woocommerce */

#woocommerce-container ul.products li a{
  width: 100%;
}

#woocommerce-container ul.products li{
  list-style: none;
  text-align: center;
}

#woocommerce-container ul.products li a.woocommerce-LoopProduct-link{
  display: block;
  text-align: center;
  text-decoration: none;
}

#woocommerce-container ul.products li a.woocommerce-LoopProduct-link img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

#woocommerce-container ul.products li a.woocommerce-LoopProduct-link h2{
  color: #999999;
  font-size: 1.25rem;
  text-decoration: none;
  padding-top: 10px;
  font-weight: normal;
}


#woocommerce-container ul.products li a.woocommerce-LoopProduct-link h2:hover{
  color: #f3a395;
  text-decoration: underline;
}

#woocommerce-container ul.products li a.woocommerce-LoopProduct-link span.price span{
  font-size: 18px;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#woocommerce-container ul.products li a.add_to_cart_button{
  text-align: center;
  display: inline-block!important;
  margin: auto;
  color: #999;
  font-size: .7rem!important;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 1px dashed #f3a395;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 50%;
}


#woocommerce-container ul.products li a.add_to_cart_button:hover{
  border: 1px dashed #333333;
  color: #333333!important;
  text-decoration: none!important;
}

#woocommerce-container .woocommerce-pagination {
    display: block;
    width: 100%;
    margin-bottom: 80px;
}

#woocommerce-container .woocommerce-pagination ul.page-numbers li{
  float: left;
  display: inline-block;
  margin: 10px;
}

#woocommerce-container .woocommerce-result-count{
  width: 100%;
}

#woocommerce-container .woocommerce-ordering{
  width: 100%;
  margin-bottom: 30px;
}

#woocommerce-container .sidebar-woocommerce h3{
  color: #333;
  font-size: 1.75rem;
  border-left: 6px solid #f3a395;
  padding-left: 10px;
  margin-bottom: 30px;
}

#woocommerce-container .sidebar-woocommerce ul li{
  list-style: none;
}

#woocommerce-container .sidebar-woocommerce ul li{
  display: block;
  border-bottom: 1px solid #e7e5e1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: #999;
}

#woocommerce-container .sidebar-woocommerce ul li a{
  color: #999;
}

#woocommerce-container .sidebar-woocommerce ul li a:hover{
  color: #f3a395;
}



@media only screen and (min-width:768px){

  #woocommerce-container{
    padding-right: 20px;
  }

  #woocommerce-container ul.products li a.woocommerce-LoopProduct-link h2{
    font-size: 1rem;

  }

  #woocommerce-container ul.products li a.add_to_cart_button{
    width: 70%;
  }

  #woocommerce-container .woocommerce-pagination{
    margin-bottom: 50px;
  }

  #woocommerce-container #content p.woocommerce-result-count{
    width: 50%;
    float: left;
  }

  #woocommerce-container #content .woocommerce-ordering{
    width: 50%;
    float: left;
    margin-bottom: 30px;
    text-align: right;
  }

    #woocommerce-container ul.products{
      clear: both;
    }

}


/*  estilos detalle de producto woocommerce */

#woocommerce-container .woocommerce-product-gallery__image a img{
  width: 100%;
  height: auto;
}

#woocommerce-container .summary h1{
  color: #333;
  font-size: 1.5rem;
}

.price .woocommerce-Price-amount, .price .woocommerce-Price-amount span{
  font-size: 1.5rem;
}

.cart{
  margin: 30px 0;
}

.cart .quantity{
  width: 60px;
  float: left;
}

.cart .quantity label{
  display: none;
}

.single_add_to_cart_button{
  text-align: center;
  display: inline-block!important;
  margin: auto;
  color: #999;
  font-size: .7rem!important;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 25px;
  border: 1px dashed #f3a395;
  border-radius: 30px;
  margin-left: 10px;
  background: #ffffff;
}

.product_meta{
  clear: both;
  margin-top: 20px;
  margin-bottom: 30px;
}

.woocommerce-tabs{
  width: 100%;
  clear: both;
  margin-top: 50px;
}

.woocommerce-tabs ul{
  display:table;
  margin-bottom: 30px;
}

.woocommerce-tabs ul li{
  display: inline-block;
  float: left;
  padding-top: 10px;
  margin-right: 20px;
  border-top: 4px solid #fff;
}

.woocommerce-tabs ul li.active{
  padding-top: 10px;
  border-top: 4px solid #f3a395;
}

.woocommerce-tabs ul li.active a{
  text-decoration: none;
  color: #333;
}

.woocommerce-tabs ul li a{
  color: #999;
  font-size: 18px;
}


.woocommerce-tabs ul li a:hover{
  color: #333;
}

.woocommerce-Tabs-panel{
  width: 100%;
  clear: both;
}

.related.products{
  display: none;
}

.woocommerce table.cart td.actions .input-text{
  width: 280px;
}

.woocommerce-MyAccount-navigation ul li{
  list-style: none;
  height: 40px;
}

.woocommerce-MyAccount-navigation ul li a{
  color: #999;
  padding-top: 10px;
  border-top: 4px solid #fff;
}

.woocommerce-MyAccount-navigation ul li a:hover{
  padding-top: 10px;
  border-top: 4px solid #f3a395;
  color: #333;
  text-decoration: none;
}

.woocommerce-MyAccount-navigation ul li.is-active a{
  padding-top: 10px;
  border-top: 4px solid #f3a395;
  color: #333;
}

@media only screen and (min-width:768px){


  #woocommerce-container .woocommerce-product-gallery{
    width: 55%;
    float: left;
    margin-right: 5%;
    margin-bottom: 50px;
  }

  #woocommerce-container .woocommerce-product-gallery__image a{
    max-width: 400px;
  }

  #woocommerce-container .summary{
    width: 40%;
    float: left;
  }

  #woocommerce-container .summary h1{
    color: #333;
    font-size: 1.75rem;
  }

  #woocommerce-container .woocommerce-tabs{
    width: 100%;
    clear: both;
  }

  .woocommerce-MyAccount-navigation ul{
    width: 100%;
    display: table;
    margin-bottom: 30px;
  }

  .woocommerce-MyAccount-navigation ul li{
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 15px;
  }
}
